/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
* {
	box-sizing: border-box;
}
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
a {
	text-decoration: none;
	color: inherit;
}
header {
	display: flex;
	justify-content: space-between;
	/*margin: 50px 0*/
}
.divHeader {
	width: 100%;
}

.divheadband {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000000;
	height: 50px;
	gap: 10px;
}

.divLogoNav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 60px;
	padding-top: 50px;
	width: 100%;
}

.headbandText {
	display: flex;
	gap: 10px;
	color: white;
}
.publishBtn {
	border-radius: 60px;
	background-color: #FFFFFF;
	height: 38px;
	padding: 0px 20px;
	margin-left: 20px;
	font-family: 'Syne';
	font-size: 14px;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	font-weight:400;
}

li:hover {
	color: #B1663C;
}
#insta {
	width: 20px;
	height: 20px;
}
#introduction {
	display: flex;
	align-items: center;
	/*margin : 0 95px;*/
	margin : 10rem 5rem;
}
#introduction figure {
	flex: 1;
}
#introduction img {
	display: block;
	margin: auto;
	width: 100%;
}

#introduction article {
	flex: 1;
}
#introduction h2 {
	margin-bottom: 1em;
	margin-left: 5rem;
}

#introduction p {
	margin-bottom: 0.5em;
	margin-left: 5rem;
	color: #3D3D3D;
	font-family: 'Work Sans';
	font-weight: 400;
}

#divModifyLink {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	width: 100%;
}

.modifyLink1 {
	gap: 5px;
	margin: 10px 0;
}
.modifyLink2 {
	gap: 5px;
	/*margin: 10px 0;*/
}
.divProjectTitle {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 31px;
}

.fa-regular {
	font-size: 15px;
}
#portfolio {
	margin: 0px 5rem;

}
#portfolio h2 {
	text-align: center;
	/*margin-bottom: 1em;*/
}
/* GALERIE */
.gallery {
	width: 100%;
	display: grid;
	
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}
.cardfigcaption {
	color: #3D3D3D;
	font-size: 13px;
	font-weight: 400;
}

.card img {
	width: 100%;
}

/* FILTRES */
.filters {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	margin-top: 51px;
	margin-bottom: 51px;
	gap: 10px;
}

.btn {
	border-radius: 60px;
	background-color: #FFFFFF;
	border: 1px solid #1D6154;
	color: #1D6154;
	height: 37px;
	padding: 0px 20px;
	font-family: 'Syne';
	font-size: 16px;
}

.btn:hover {
	background-color: #1D6154;
	color: #FFFFFF;
}

.gallery {
	width: 100%;
	display: grid;
	margin: 50px auto;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.SelectedFilter {
	background-color: #1D6154;
	color: #FFFFFF;
}

/* FORMULAIRE DE CONTACT */
#contact {
	width: 34%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 1.5rem;
}
#contact p {
	color: #3D3D3D;
	font-size: 16px;
	font-weight: 400;
}
#contact form {
	text-align: left;
	margin-top:3rem;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 3.6rem;
	font-size: 1rem;
	border: none;
	box-shadow: 0px 4px 1rem rgba(0, 0, 0, 0.09);
	outline: none;
}
#contact label {
	margin: 2em 0 1em 0;
	color: #3D3D3D;
	font-weight: 500;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	resize: none;
	outline: none;
}

#contact input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 13rem;
	height: 2.6rem;
	text-align: center;
	border-radius: 4rem ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	width: auto;
	/*margin: 2em;*/
	background-color: #FFFFFF;
	height: 4rem;
	font-size: 1em;
}

footer nav ul li {
	font-family: 'Work Sans';
	font-size: 1em;
	font-weight: 300;
}

/* PAGE DE CONNEXION */
#divLogoNav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding-top: 50px;
	width: 100%;
}
#idLoginLi {
	font-weight: 700;
}

#login {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#loginTitle {
	text-align: center;
	padding-top: 150px;
	padding-bottom: 40px;
}

.divForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	height: 520px;
	text-align: left;
	color: #3D3D3D;
}

.divFormElements {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 40%;
}

#idEmail,
#idPwd {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	outline: none;
}

/* bouton envoyer*/
#idSubmit {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	padding: 0 40px;
	cursor: pointer;
}

#idSubmit:hover {
	background-color: #0E2F28;
}

/* lien mot de passe oublié*/
#idForgottenPwd {
	text-align: center;
	color: inherit;
	text-decoration: underline;
}

/* éventuel message erreur authentification*/
#idErrorMsg {
	color: #B1663C;
	font-size: 22px;
	font-weight: 600;
}