/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
* {
	box-sizing: border-box;
}

body {
	max-width: 1440px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #FFFEF8;
}

a {
	text-decoration: none;
	color: inherit;
}

header {
	display: flex;
	justify-content: space-between;
	/*margin: 50px 0*/
}

.divHeader {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap:wrap;
}

.divheadband {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000000;
	height: 50px;
	gap: 10px;
	width:100%;
}

.divLogoNav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
	flex-wrap: wrap;
	height: 100px;
	padding-top: 50px;
	width: 80%;
}

.headbandText {
	display: flex;
	gap: 10px;
	color: white;
}

.publishBtn {
	border-radius: 60px;
	background-color: #FFFFFF;
	height: 35px;
	padding: 0px 20px;
	margin-left: 20px;
	font-family: 'Syne';
	font-size: 14px;
	/*cursor:pointer;*/
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	list-style-type: none;
	flex-wrap:wrap;
	gap :40px;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
	font-weight: 400;
}

li:hover {
	color: #B1663C;
}

#insta {
	width: 20px;
	height: 20px;
}

#introduction {
	display: grid;
	margin: 6rem auto;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 4rem;
	align-items: center;
	width:66%;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	width: 100%;
	height: auto;
}

#introduction article {
	flex: 1;
	margin-right: 2rem;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 1em;
	color: #3D3D3D;
	font-family: 'Work Sans';
	font-weight: 400;
}

#divModifyLink {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	width: 100%;
}

.divProjectTitle {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 31px;
}

.fa-regular {
	font-size: 15px;
}

#portfolio {
	margin: 0px auto;
	width:66%;
}

#portfolio h2 {
	text-align: center;
	/*margin-bottom: 1em;*/
}
.main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:100%;
}
/* GALERIE */
.gallery {
	display: grid;
	margin: 50px auto;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-column-gap: 20px;
	grid-row-gap: 15px;
	justify-content: center;
	align-content: center;
}

.gallery figure {
	display: flex;
	flex-direction: column;
	gap:6px;
}
.gallery img {
	width: 100%;
	height:100%;
	object-fit:cover;
}

.cardfigcaption {
	color: #3D3D3D;
	font-size: 13px;
	font-weight: 400;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.card img {
	width: 100%;
	object-fit: cover;
}

/* FILTRES */
.filters {
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: center;
	width: 100%;
	margin-top: 51px;
	margin-bottom: 51px;
	gap: 10px;
}

.btn {
	border-radius: 60px;
	background-color: #FFFEF8;
	border: 1px solid #1D6154;
	color: #1D6154;
	height: 37px;
	padding: 0px 20px;
	font-family: 'Syne';
	font-size: 16px;
}

.btn:hover {
	background-color: #1D6154;
	color: #FFFFFF;
}

.SelectedFilter {
	background-color: #1D6154;
	color: #FFFFFF;
}

/* FORMULAIRE DE CONTACT */
#contact {
	padding-top:2rem;
	width: 25%;
	margin: auto;
}

#contact>* {
	text-align: center;
}

#contact h2 {
	margin-bottom: 1rem;
}

#contact p {
	color: #3D3D3D;
	font-size: 16px;
	font-weight: 400;
}

#contact form {
	text-align: left;
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 3.6rem;
	font-size: 1rem;
	border: none;
	box-shadow: 0px 4px 1rem rgba(0, 0, 0, 0.09);
	outline: none;
}

#contact label {
	margin: 2em 0 1em 0;
	color: #3D3D3D;
	font-weight: 500;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	resize: none;
	outline: none;
}

#contact input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 11rem;
	height: 2.5rem;
	text-align: center;
	border-radius: 4rem;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	width: auto;
	/*margin: 2em;*/
	background-color: #FFFFFF;
	height: 4rem;
	font-size: 1em;
}

footer nav ul li {
	font-family: 'Work Sans';
	font-size: 1em;
	font-weight: 300;
	padding: 2rem 7rem 1.5rem;
}

/* PAGE DE CONNEXION */
#divLogoNav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding-top: 50px;
	width: 100%;
}

#idLoginLi {
	font-weight: 700;
	cursor:pointer;
}

#login {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#loginTitle {
	text-align: center;
	padding-top: 150px;
	padding-bottom: 40px;
}

.divForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	height: 33rem;
	text-align: left;
	color: #3D3D3D;
}

.divFormElements {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 34%;
}

#idEmail,
#idPwd {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	outline: none;
}

/* bouton envoyer*/
#idSubmit {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	padding: 0 40px;
	cursor: pointer;
}

#idSubmit:hover {
	background-color: #0E2F28;
}

/* lien mot de passe oublié*/
#idForgottenPwd {
	text-align: center;
	color: inherit;
	text-decoration: underline;
}

/* éventuel message erreur authentification*/
#idErrorMsg {
	color: #B1663C;
	font-size: 22px;
	font-weight: 600;
}

/* --------------partie Modale-------------- */
.js-modal {
	gap: 5px;
	margin: 10px 0;
}

.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.divModal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #FFFFFF;
	width: 630px;
	border-radius: 10px;
	max-width: calc(150vw - 20px);
	max-height: calc(100vh - 20px);
	padding: 0 100px;

}

.divModal p {
	font-size: 26px;
	text-align: center;
	padding: 0 0 46px 0;
}

.workCard {
	position: relative;
}

#idTitleModal {
	text-align: center;
	font-size: 26px;
}

#line1 {
	border: 1px solid #B3B3B3;
	margin-top: 50px;
	width:100%;
}

#idAddPhotoBtn {
	width: 50%;
	width: fit-content;
	align-self: center;
	margin-bottom: 20px;
	margin-top: 48px;
	padding: 0 48px;
	font-size: 14px;
	background-color: #1D6154;
	color:#FFFFFF;
	font-family: "Syne";
	cursor: pointer;
}

#idAddPhotoBtn:hover {
	background-color: #0E2F28;
}

#divIcones {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 32px;
	width: 630px;
	position: relative;
	left: -100px;
}

#divIcones i {
	cursor: pointer;
}

#idBack,
#idClose {
	font-size: 21px;
	cursor: pointer;
}

#idDeleteGallery {
	text-align: right;
	width: fit-content;
	align-self: center;
	color: #D65353;
	font-family: "Syne";
	font-weight: 400;
	font-size: 14px;
	cursor: pointer;
}

.idPhotosGallery {
	width: 100%;
	display: grid;
	margin: auto;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	color: inherit;
}

.idPhotosGallery img {
	width: 100%;
	height:100%;
	object-fit:cover;
}

.idPhotosGallery figcaption {
	color: #0000
}

.idDivTrash {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px;
	margin: 5px;
	color: #FFFFFF;
	background-color: #000000;
	border-radius: 5px;
	width: fit-content;
	height: fit-content;
	cursor: pointer;
}

.fa-solid.fa-arrows-up-down-left-right,
.fa-solid.fa-trash-can {

	font-size: 9px;
	color: #FFFFFF;
	background-color: #000000;
	border-radius: 5px;

}

.idDivMoving {
	position: absolute;
	top: 0;
	left: 35%;
	padding: 4px;
	margin: 5px;
	color: #FFFFFF;
	background-color: #000000;
	border-radius: 5px;
	width: fit-content;
	height: fit-content;
}

/* --------------Formulaire ajout de photo-------------- */
#addPhotoForm {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#divBlue {
	width: 420px;
	background-color: #E8F1F6;
}

#divImportPhoto {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#divImportPhoto p {
	font-size: 10px;
	padding: 0.5rem 0 1.5rem 0;
}

#divImportPhoto i {
	padding: 26px 0 21px;
	font-size: 60px;
	opacity: 0.2;
}

#addPhotoBtn input[type="file"] {
	display: none;
}

#addPhotoBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #CBD6DC;
	width: 173px;
	height: 36px;
	font-weight: 500;
	color: #306685;
	border-radius: 20px;
	cursor: pointer;
}

#divFormAddPhoto {
	display: flex;
	flex-direction: column;
	width: 420px;
}

#divFormAddPhoto input {
	display: flex;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	outline: none;
	padding-left: 16px;
	color: #444444;
	font-weight: 400;
	font-family: "Work Sans";
}

#divFormAddPhoto label {
	margin: 2em 0 1em 0;
	color: #3D3D3D;
	font-weight: 500;
	font-family: "Work Sans";
}

#divFormAddPhoto input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	background-color: #1D6154;
	color: #FFFFFF;
	width: 237px;
	height: 36px;
	text-align: center;
	border-radius: 60px;
	padding: 0 49px;
	margin-bottom: 50px;
	;
}

#divFormAddPhoto input[type="submit"]:hover {
	background-color: #0E2F28;
}

#addPhotoSubmitBtn {
	margin: auto;
	cursor: pointer;
}

#miniPhoto {
	width: 100%;
	height: 160px;
	object-fit: contain;
}

#photoCategories {
	font-family: 'Work Sans';
	color: #444444;
	font-weight: 400;
	display: flex;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	background-color: #FFFFFF;
	padding-left: 16px;
	outline: none;
}

.photoCategory {
	font-family: 'Work Sans';
	color: #444444;
	font-weight: 400;
	display: flex;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	background-color: #FFFFFF;
	padding-left: 16px;
	outline: none;
}

#line2 {
	border: 1px solid #B3B3B3;
	margin: 47px 0;
	width: 100%;
}

/* pour l'affichage sous firefox, sinon fonctionne sur chrome*/
select.photoCategories>option {
	font-size: 14px;
	font-weight: 400;
	font-family: 'Work Sans';
	font-size: 16px;
	color: #444444;
	background-color: #f2f2f2;
	outline: none;
	border: 1px solid green;
}